/* .input{
    margin-right: 50px;
} */

.refraction-data-row {
  margin-top: 4px;
}

.refraction-data-row .ant-col {
  display: flex;
  align-items: center;
}

.refraction-item {
  margin-bottom: 0 !important;
}

.refraction-radio-group {
  display: flex;
  /* flex-wrap: nowrap; */
}

.refraction-radio-group .ant-radio-wrapper {
  /* margin-inline-end: 0; */
}

.icon {
  color: red;
  font-size: large;
  cursor: pointer;
}
.col {
  margin-left: 14px;
}
.button1 {
  border: none;
  background-color: #4cacf0;
  margin-left: 15px;
}
.next {
  color: white;
  background-color: #096ea1;
  border: none;
}
.save{
  color: white;
  background-color: green;
  border: none;
}
