.refractionDataRow {
  margin-top: 4px;
}

.refractionDataRow :global(.ant-col) {
  display: flex;
  align-items: center;
}

.refractionItem {
  margin-bottom: 0 !important;
}

.refractionRadioGroup {
  display: flex;
}

.icon {
  color: red;
  font-size: large;
  cursor: pointer;
}

.col {
  margin-left: 14px;
}

.addButton {
  border: none;
  background-color: #4cacf0 ;
  margin-left: 15px;
}

.nextButton {
  color: white !important;
  background-color: #096ea1 !important;
  border: none;
  padding: 12px 15px !important;
  margin-right: 55px !important;
}

.saveButton {
  color: white !important;
  background-color: green !important;
  border: none;
   padding: 12px 15px !important;
}

.inputSpacing {
  margin-right: 50px;
}
.yes{
  margin-left: 5px;
}
.saveButton{
  color: #096ea1;
}